/* Tüm container'ı ortalamak için */
.edit-container {
  width: 50%; /* Genişlik ayarı */
  margin: 50px auto; /* Üstten 50px boşluk ve ortalama */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* İçeriği ortalıyor */
}

/* Başlıkların stili */
h2 {
  color: #333;
  margin-bottom: 20px;
}

/* Form grup stili */
.form-group {
  margin-bottom: 15px;
  text-align: left; /* Form elemanlarını sola hizalar */
}

/* Label ve input için stil */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%; /* Genişliği tam olarak doldurur */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Buton stili */
.save-btn {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  width: 100%; /* Butonu tam genişlikte yapar */
}

/* Buton hover efekti */
.save-btn:hover {
  background-color: #0056b3;
}
.delete-btn {
  background-color: #dc3545;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  width: 100%; /* Butonu tam genişlikte yapar */
}

.delete-btn:hover {
  background-color: #c82333;
}
